@charset "UTF-8";
/* A 
La largeur seulement 
Exprimé en pixels
petit ⇒ moyen ⇒ grand ⇒ très grand
*/
#A {
  width: 200px;
}

#A:hover {
  width: 400px;
}

#A:hover:focus {
  width: 600px;
}

#A:focus {
  width: 800px;
}

/* B 
La hauteur seulement 
Exprimé en em
petit ⇒ moyen ⇒ grand ⇒ très grand
*/


/* C 
Largeur et hauteur 
petit ⇒ moyen ⇒ grand ⇒ taille de police doublée
*/


/* D 
Toutes les marges intérieures 
petit ⇒ moyen ⇒ grand ⇒ très grand
*/


/* E 
La marge intérieure de gauche 
très grand ⇒ grand ⇒ moyen ⇒ petit
*/


/* F 
Les marges intérieures avec 2 valeurs 
très grand,petit ⇒ grand,moyen ⇒ moyen,grand ⇒ petit,très grand
*/


/* G 
Toutes les marges extérieures
petit ⇒ moyen ⇒ grand ⇒ très grand
*/


/* H 
La marge extérieure du haut 
très grand ⇒ grand ⇒ moyen ⇒ petit
*/


/* 
I Les marges extérieures avec 2 valeurs 
très grand,petit ⇒ grand,moyen ⇒ moyen,grand ⇒ petit,très grand
*/


/* J 
Les marges intérieures avec 4 valeurs en rotation 
*/


/* K 
Une couleur d'arrière-plan. 4 couleurs différentes 
*/


/* L 
On joue avec la transparence de l'arrière-plan. 
*/


/* M 
Des images d'arrière-plan 
chat ⇒ chien ⇒ lapin ⇒ herisson
(ajouter background-size: cover; et background-position: center; à l'état initial) 
*/


/* N 
La position; 
centre ⇒ En haut à gauche ⇒ En haut à droite ⇒ En bas à gauche 
(ajouter background-image: url(../img/lapin.jpg); à l'état initial) 
*/


/* O 
La taille de l'arrière-plan;
Donner 2 valeurs par état
petit ⇒ moyen ⇒ grand ⇒ 100% 
(ajouter background-image: url(../img/herisson.jpg); à l'état initial)
*/


/* P
La couleur de la bordure;
Choisir 4 couleurs (une par état)
(ajouter border-style: solid; et border-width: 2em; à l'état initial)
*/


/* Q
La taille de la bordure;
petit ⇒ moyen ⇒ grand ⇒ très grand
(ajouter border-style: solid; et border-color: red; à l'état initial)
*/


/* R
Le style de la bordure;
solid ⇒ inset ⇒ outset ⇒ groove
(ajouter border-width: 1em; et border-color: beige; à l'état initial)
*/


/* S
La bordure du HAUT;
Choisir 4 états différents pour la bordure du haut
Pour la couleur, prenez 4 couleurs différentes
Pour le style, prendre solid pour tous les états
Pour l'épaisseur, prendre la même valeur avec des unités différentes
*/


/* T
La COULEUR de la bordure de GAUCHE;
Prendre les même couleurs que l'état précédent;
(ajouter border: 1in solid grey; à l'état initial)
*/


/* U
Variations personnelles
*/


/* V
Variations personnelles
*/


/* W
Variations personnelles
*/


/* X
Variations personnelles
*/


/* Y
Variations personnelles
*/


/* Z
Variations personnelles
*/

