/* A 
La largeur seulement 
Exprimé en pixels
petit ⇒ moyen ⇒ grand ⇒ très grand
*/
#A {
    width: 200px;
    &:hover {
        width: 400px;
    }
    &:hover:focus {
        width: 600px;
    }
    &:focus {
        width: 800px;
    }
}
/* B 
La hauteur seulement 
Exprimé en em
petit ⇒ moyen ⇒ grand ⇒ très grand
*/
#B {
    height: 2em;
    &:hover {
        height: 4em;
    }
    &:hover:focus {
        height: 6em;
    }
    &:focus {
        height: 8em;
    }
}
/* C 
Largeur et hauteur 
petit ⇒ moyen ⇒ grand ⇒ taille de police doublée
*/ 
#C {
    width: 200px;
    height: 200px;
    &:hover {
        width: 400px;
        height: 100px;
    }
    &:hover:focus {
        width: 50px;
        height: 400px;
    }
    &:focus {
        font-size: 2em;
    }

}
/* D 
Toutes les marges intérieures 
petit ⇒ moyen ⇒ grand ⇒ très grand
*/ 
#D {
    padding: 1em;
    &:hover {
        padding: 2em;
    }
    &:hover:focus {
        padding: 3em;
    }
    &:focus {
        padding: 4em;
    }

}
/* E 
La marge intérieure de gauche 
très grand ⇒ grand ⇒ moyen ⇒ petit
*/ 
#E {
    padding-left: 4em;
    &:hover {
        padding-left: 3em;
    }
    &:hover:focus {
        padding-left: 2em;
    }
    &:focus {
        padding-left: 1em;
    }
}
/* F 
Les marges intérieures avec 2 valeurs 
très grand,petit ⇒ grand,moyen ⇒ moyen,grand ⇒ petit,très grand
*/ 
#F {
    padding: 4em 1em;
    &:hover {
        padding: 3em 2em;
    }
    &:hover:focus {
        padding: 2em 3em;
    }
    &:focus {
        padding: 1em 4em;
    }
}
/* G 
Toutes les marges extérieures
petit ⇒ moyen ⇒ grand ⇒ très grand
*/ 
#G {
    margin: 1em;
    &:hover {
        margin: 2em;
    }
    &:hover:focus {
        margin: 3em;
    }
    &:focus {
        margin: 4em;
    }

}
/* H 
La marge extérieure du haut 
très grand ⇒ grand ⇒ moyen ⇒ petit
*/ 
#H {
    margin-top: 4em;
    &:hover {
        margin-top: 3em;
    }
    &:hover:focus {
        margin-top: 2em;
    }
    &:focus {
        margin-top: 1em;
    }

}
/* 
I Les marges extérieures avec 2 valeurs 
très grand,petit ⇒ grand,moyen ⇒ moyen,grand ⇒ petit,très grand
*/ 
#I {
    margin: 4em 1em;
    &:hover {
        margin: 3em 2em;
    }
    &:hover:focus {
        margin: 2em 3em;
    }
    &:focus {
        margin: 1em 4em;
    }
}
/* J 
Les marges intérieures avec 4 valeurs en rotation 
*/ 
#J {
    margin: 1em 2em 3em 4em;
    &:hover {
        margin: 2em 3em 4em 1em;
    }
    &:hover:focus {
        margin: 3em 4em 1em 2em;
    }
    &:focus {
        margin: 4em 1em 2em 3em;
    }
}
/* K 
Une couleur d'arrière-plan. 4 couleurs différentes 
*/ 
#K {
    background-color: #00F;
    &:hover {
        background-color: #FF0;
    }
    &:hover:focus {
        background-color: #F00;
    }
    &:focus {
        background-color: #0F0;
    }
}
/* L 
On joue avec la transparence de l'arrière-plan. 
*/ 
#L {
    background-color: #F0F0;
    &:hover {
        background-color: #F0FF;
    }
    &:hover:focus {
        background-color: #F0F9;
    }
    &:focus {
        background-color: #F0F3;
    }
}
/* M 
Des images d'arrière-plan 
chat ⇒ chien ⇒ lapin ⇒ herisson
(ajouter background-size: cover; et background-position: center; à l'état initial) 
*/ 
#M {
    background-image: url(../img/chat.jpg);
    background-size: cover;
    background-position: center;
    &:hover {
        background-image: url(../img/chien.jpg);
    }
    &:hover:focus {
        background-image: url(../img/lapin.jpg);
    }
    &:focus {
        background-image: url(../img/herisson.jpg);
    }
}
/* N 
La position; 
centre ⇒ En haut à gauche ⇒ En haut à droite ⇒ En bas à gauche 
(ajouter background-image: url(../img/lapin.jpg); à l'état initial) 
*/
#N {
    background-image: url(../img/lapin.jpg);
    background-position: center;
    &:hover {
        background-position: left top;
    }
    &:hover:focus {
        background-position: right top;
    }
    &:focus {
        background-position: left bottom;
    }
}
/* O 
La taille de l'arrière-plan;
Donner 2 valeurs par état
petit ⇒ moyen ⇒ grand ⇒ 100% 
(ajouter background-image: url(../img/herisson.jpg); à l'état initial)
*/
#O {
    background-image: url(../img/herisson.jpg);
    background-size: 50px 50px;
    &:hover {
        background-size: 100px 100px;
    }
    &:hover:focus {
        background-size: 500px 500px;
    }
    &:focus {
        background-size: 100% 100%;
    }
}
/* P
La couleur de la bordure;
Choisir 4 couleurs (une par état)
(ajouter border-style: solid; et border-width: 2em; à l'état initial)
*/
#P {
    border-style: solid; 
    border-width: 2em;
    border-color: red;
    &:hover {
        border-color: green;
    }
    &:hover:focus {
        border-color: blue;
    }
    &:focus {
        border-color: yellow;
    }
}
/* Q
La taille de la bordure;
petit ⇒ moyen ⇒ grand ⇒ très grand
(ajouter border-style: solid; et border-color: red; à l'état initial)
*/
#Q {
    border-style: solid; 
    border-width: 2em;
    border-color: red;
    &:hover {
        border-width: 4em;
    }
    &:hover:focus {
        border-width: 6em;
    }
    &:focus {
        border-width: 8em;
    }
}
/* R
Le style de la bordure;
solid ⇒ inset ⇒ outset ⇒ groove
(ajouter border-width: 1em; et border-color: beige; à l'état initial)
*/
#R {
    border-style: solid; 
    border-width: 1em;
    border-color: beige;
    &:hover {
        border-style: inset;
    }
    &:hover:focus {
        border-style: outset;
    }
    &:focus {
        border-style: groove;
    }
}
/* S
La bordure du HAUT;
Choisir 4 états différents pour la bordure du haut
Pour la couleur, prenez 4 couleurs différentes
Pour le style, prendre solid pour tous les états
Pour l'épaisseur, prendre la même valeur avec des unités différentes
*/
#S {
    border-top: 3mm solid blue;
    &:hover {
        border-top: 3in solid red;
    }
    &:hover:focus {
        border-top: 3vw solid peachpuff;
    }
    &:focus {
        border-top: 3vh solid floralwhite;
    }
}
/* T
La COULEUR de la bordure de GAUCHE;
Prendre les même couleurs que l'état précédent;
(ajouter border: 1in solid grey; à l'état initial)
*/
#T {
    border: 1in solid grey;
    border-left-color: blue;
    &:hover {
        border-left-color: red;
    }
    &:hover:focus {
        border-left-color: peachpuff;
    }
    &:focus {
        border-left-color: floralwhite;
    }
}

